[user] 
    useConfigOnly = true
    name="Terence Fox"
    email="terence.fo@gmail.com"
[init]
    defaultBranch="main"
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
    lg = log --graph --abbrev-commit --simplify-by-decoration --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
[color "status"]
	untracked = red
